* {
    box-sizing: border-box;
  }

body {
    font-family: Helvetica, sans-serif;
    color: black;
    height: 100%;
    margin:0;
    background-repeat: no-repeat;
    background-image: linear-gradient( to bottom right, rgb(160, 212, 118), rgb(38, 203, 253));
    background-attachment: fixed;
  }
  
  header {
    margin-top: 25px;
    height:80px;
    color: black;
    margin-bottom: 55px;
    margin: 40px;
  }
  
  .row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    background: white;
  }
  
  header h1 {
    line-height: 1;
    top:24px;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  ul {
      padding: 0;
  }
  
  header .question-and-score {
    font-size: 20px;
    font-weight: 600px;
    color:black;
    background: white;
    padding; 100px;
  }
  
  .question-and-score ul {
    text-align:left;
    padding-left: 2%;
    padding-right: 2%;
  }
  
  .question-and-score li {
    display: inline-block;
    padding:0 2%;
  }

  form {
    margin-top: 100px;
  }
  
  button {
    margin-top:10px;
    height: auto;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color:white;
    text-transform: uppercase;
    letter-spacing: 5px;
    background: black;
    border: 0;
    cursor: pointer;
    margin-bottom: 0;
    padding: 10px 20px;
  }
  
  fieldset {
    width:80%;
    padding: 40px;
    background: white;
    margin-top:400px;
    margin: auto;
    border-width: 0;
  }
  
  legend {
    font-weight: 700;
    font-size: 18px;
  }
  
  .question-form .question {
    margin-bottom: 20px;
    padding: 0 2%;
    font-size: 20px;
    font-weight: 600px;
  }
  
  .options ul {
    list-style: none;
    margin:0;
    text-align:left;
  }
  
  label {
    font-size:18px;
    margin-top: 5px;
    display: block;
  }
  
  .options span {
    display:block;
    border-radius:5px;
  }
  
  .right-answer {
   background:white;
   padding: 10px 20px;
   margin: 5px 20px;
   border:solid black;
   text-align: center;
  }
  
  .wrong-answer {
    background:white;
    padding: 10px;
    margin: 5px 20px;
    border:solid black;
    
  }
  
  .question-form button {
    float:right;
  }

  
  button:disabled {
    opacity:0.5;
  }
